---
layout: default
---
<article>
    {% include header.html %}
    <main>
      <h1 class="post-title">Tagged #{{ page.tag }}</h1>
      {% assign posts = site.tags[page.tag] %}
      {% assign postsByYearMonth = posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}

        <div class="archive">
        {% for yearMonth in postsByYearMonth %}
        <h2>{{ yearMonth.name }}</h2>
        <ul>
            {% for post in yearMonth.items %}
            <li><a href="{{ post.url }}">{{ post.title }}.</a> <span class="lead">{{ post.lead }}</span></li>
            {% endfor %}
        </ul>
        {% endfor %}
        </div>
    </main>
    {% include tagcloud.html %}
    {% include footer.html %}
  </article>